@import "./variables/sizes";
@import "./variables/colors";

* {
    box-sizing: border-box;
    // font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-family: sans-serif;
    color: $gray-4;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background: $gray-1;
    font-size: 62.5%;
}

.container {
    max-width: 96.4rem;
    margin: 0 auto;
    padding: 0 1rem;
}

input,
button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

.search-null {
    color: $gray-4;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
