// NAVBAR
$sz-nav: 18px;
$sz-search-category: 14px;

// SIZES-SEARCH
$sz-search-title: 18px;
$sz-search-price: 24px;
$sz-search-location: 12px;
$sz-search-img-w: 180px;
$sz-search-img-h: 180px;
$sz-search-img-br: 4px;

// SIZES-DESC
$sz-desc-title-1: 24px;
$sz-desc-title-2: 28px;
$sz-desc-condition: 14px;
$sz-desc-price: 46px;
$sz-desc-detail: 16px;
// $sz-desc-img-w: 550px; //680px
// $sz-desc-img-h: 550px; //680px
$sz-desc-img-w: 680px;
$sz-desc-img-h: 680px;